.training-card {
    margin: 5px;
    max-width: 400px;
    border-left-color: rgb(13, 119, 13);
    border-left-width: 9px;
    border-left-style: solid;
}

.approvedStatus{
    background-color: rgb(42, 207, 42);
    color: aliceblue;  
}

.trainingImage{
    margin: 10px;
}

.trainingTitle{
    margin-left: 10px;
}

.JEChip{
    background-color: rgb(42, 207, 42);
    color: aliceblue;
}

.SSEChip {
    background-color: orange;
    color: aliceblue;
}

.levelChips{
    margin-left: 5px;
}