table {
    width: 100%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.action-btn {
    min-width: 60px;
    margin: 3px;
    text-align: left;
}

#filter-component{
    padding-top: 15px;
    padding-bottom: 15px;
}

.loader{
    margin-left: 40%;
    margin-top: 15%;
}